__pycache__/
.cache/

.config.json
config.json

.examples/test_output
examples/test_output

.test.text
test.text

.venv
venv

.conda
conda

local_notebooklm/web_ui/output
.local_notebooklm/web_ui/output

.gradio
gradio